
img{
    width: 10vw;
}

.categorias{
    display: flex;
}

.saloes{
    display: grid;
    grid-template-columns: 700px 700px;
    justify-content: center;
    justify-items: center;
    padding: 30px;
}

.imagens-saloes{
    width: 450px;
    height: 300px;
    object-fit: cover;
}

.imagens-estrelas{
    width: 30px;
    height: 30px;
}

.card-conteudo{
    display: flex;
    justify-content: space-around;
}

.card-saloes{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.card-tags{
    display: block;
}